$underlineBlueColor: #5b89c8;
$underlineYellowColor: #fed500;
$primaryTextColor: #133a6f;
$secondaryTextColor: #fff;
$primaryButtonColor: #1b5aae;
$blackTextColor: #303030;
$primaryBorderColor: #6e7399;
